
  .banner .swiper {
    width: 500px;
    height: 300px;
    padding: 50px;
  }
  
  .banner .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }

  .hotpicks {
    font-size: 3rem; 
    margin-bottom: 5px;
  }

  
  .banner .swiper-slide img {
    display: inline-block;
    width: 100%;
  }

  a{
    text-decoration: auto !important;
    color: black !important;
  }

  #main{
    color: #1a56db !important;
  }

  
  
  